{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Criar Conta | {{ block.super }}{% endblock %}

{% block container %}
<div class="container div-content">
    <div class="d-flex justify-content-center">
        <h1 class="title-h1">Criar Conta</h1>
    </div>
    <div class="div-distance">
        <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            <div class="page-header">
                <h5 class="title-h5">Dados de acesso</h5>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
                    {% render_field form.username class="form-control" %}
                    {% for error in form.username.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-4{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
                    {% render_field form.password1 class="form-control" %}
                    {% for error in form.password1.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-4{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
                    {% render_field form.password2 class="form-control" %}
                    {% for error in form.password2.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="page-header">
                <h5 class="title-h5">Dados pessoais</h5>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                    {% render_field form.name class="form-control" %}
                    {% for error in form.name.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-5{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
                    {% render_field form.email class="form-control" %}
                    {% for error in form.email.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.cpf.auto_id }}">{{ form.cpf.label }}</label>
                    {% render_field form.cpf class="form-control" %}
                    {% for error in form.cpf.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.gender.auto_id }}">{{ form.gender.label }}</label>
                    {% render_field form.gender class="form-control" %}
                    {% for error in form.gender.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.telephone.auto_id }}">{{ form.telephone.label }}</label>
                    {% render_field form.telephone class="form-control" %}
                    {% for error in form.telephone.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                    <label for="{{ form.birth.auto_id }}">{{ form.birth.label }}</label>
                    {% render_field form.birth class="form-control" %}
                    {% for error in form.birth.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <a class="button" href="{% url 'accounts:login' %}">Voltar</a>
            <button type="submit" class="button">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}