{% extends "accounts/index.html" %}

{% load widget_tweaks %}

{% block title %}Alterar Senha | {{ block.super }}{% endblock %}

{% block container %}
<div class="container div-content">
        <div class="d-flex justify-content-center">
            <h1 class="title-h1">Alterar senha</h1>
        </div>
        <div class="div-distance">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    {% for field in form %}
                    <div class="form-group col-md-4{% if field.errors %} has-error {% endif %}">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <a class="button" href="{% url 'accounts:index' %}">Voltar</a>
                <button type="submit" class="button">Atualizar</button>
            </form>
        </div>
    </div>
{% endblock %}