{% extends "accounts/index.html" %}

{% load widget_tweaks %}

{% block title %}Alterar Dados | {{ block.super }}{% endblock %}

{% block container %}
<div class="container div-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicío</a></li>
            <li class="breadcrumb-item"><a href="{% url 'accounts:index' %}">Minha Conta</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alterar Dados</li>
        </ol>
        <div class="d-flex justify-content-center">
            <h1 class="title-h1">Alterar dados</h1>
        </div>
        <div class="div-distance">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-7{% if field.errors %} has-error {% endif %}">
                        <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                        {% render_field form.name class="form-control" %}
                        {% for error in form.name.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-5{% if field.errors %} has-error {% endif %}">
                        <label for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
                        {% render_field form.email class="form-control" %}
                        {% for error in form.email.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                        <label for="{{ form.cpf.auto_id }}">{{ form.cpf.label }}</label>
                        {% render_field form.cpf class="form-control cpf" %}
                        {% for error in form.cpf.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                        <label for="{{ form.gender.auto_id }}">{{ form.gender.label }}</label>
                        {% render_field form.gender class="form-control" %}
                        {% for error in form.gender.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                        <label for="{{ form.telephone.auto_id }}">{{ form.telephone.label }}</label>
                        {% render_field form.telephone class="form-control phone_with_ddd" %}
                        {% for error in form.telephone.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-3{% if field.errors %} has-error {% endif %}">
                        <label for="{{ form.birth.auto_id }}">{{ form.birth.label }}</label>
                        {% render_field form.birth class="form-control date" %}
                        {% for error in form.birth.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <a class="button" href="{% url 'accounts:index' %}">Voltar</a>
                <button type="submit" class="button">Atualizar</button>
            </form>
        </div>
    </div>
{% endblock %}