{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Recuperar Senha | {{ block.super }}{% endblock %}

{% block container %}
<div class="container div-content">
    <div class="d-flex justify-content-center">
        <h1 class="title-h1">Recuperar senha</h1>
    </div>
    <div class="row div-distance">
        <div class="col">
            <div class="page-header">
                <h5 class="title-h5">Redefinição de senha enviada</h5>
            </div>
            <div>
                <p class="text-justify">
                    Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.
                    Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}