{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Recuperar Senha | {{ block.super }}{% endblock %}

{% block container %}
<div class="container div-content">
    <div class="d-flex justify-content-center">
        <h1 class="title-h1">Recuperar senha</h1>
    </div>
    <div class="row div-distance">
        <div class="col">
            <div class="page-header">
                <h5 class="title-h5">Você esqueceu a senha?</h5>
            </div>
            <div>
                <p class="text-justify">Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar uma nova senha.</p>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="button" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}