{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'resource/bootstrap/css/bootstrap.min.css' %}" media="all">
    <title>{% block title %}Devstore | Loja para Desenvolvedores{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar bg-white fixed-top">
            <div class="container menu">
                <ul class="nav justify-content-start">
                    <li class="nav-item dropdown link-item">
                        <a class="nav-link menu-item" href="{% url 'catalog:product_list' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bars"></i>Categorias
                        </a>
                        <div class="box-shadow dropdown-menu border-0" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <ul class="nav justify-content-center">
                    <p class="logo"><a href="{% url 'index' %}" title="Devstore"></a></p>
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown link-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link menu-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Olá, {{ user.get_short_name }}<i class="fas fa-angle-down"></i>
                            </a>
                            <div class="box-shadow dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'accounts:index' %}">Minha conta</a>
                                <a class="dropdown-item" href="#">Meus pedidos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Sair</a>
                            </div>
                        {% else %}
                            <a class="nav-link menu-item" href="{% url 'accounts:login' %}">Entrar</a>
                        {% endif %}
                    </li>
                    <li class="nav-item link-item">
                        <a class="nav-link menu-item" href="#"><i class="fas fa-shopping-basket"></i>0 item</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
    {% block container %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="logo"><a title="Devstore"></a></p>
                    <ul class="link-item">
                        <li>
                            <p><span class="span-item">Devstore</span> © 2018</p>
                            <p>Todos os direitos reservados.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="title-h5">Institucional</h5>
                    <ul class="link-item">
                        <li ><a href="#">Início</a></li>
                        <li ><a href="#">Perguntas frequentes</a></li>
                        <li ><a href="#">Quem somos</a></li>
                        <li ><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="title-h5">Sac</h5>
                    <ul class="link-item">
                        <li><a href="#">(18) 98168-8676</a></li>
                        <li><a href="#">contato@devstore.com</a></li>
                        <li>
                            <p><span class="span-item">Horário de Atendimento</span></p>
                            <p>Segunda a sexta, das 9h às 18h</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="title-h5">Pagamento</h5>
                    <ul class="link-item">
                        <li><p>Pagseguro</p></li>
                    </ul>
                </div>
                <div class="col-md-12 py-5">
                    <div class="icon d-flex justify-content-center">
                        <a href="#"><i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'resource/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'resource/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'resource/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>