{% extends "base.html" %}

{% load static %}

{% block container %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/slide.png' %}" alt="First slide">
        </div>
    </div>
</div>
<div class="container div-content">
    <div class="d-flex justify-content-center">
        <h1 class="title-h1">Lançamentos</h1>
    </div>
    <div class="row div-distance">
        {% for product in product_list %}
        <div class="col-sm-6 col-lg-4 py-2">
            <div class="card h-100 border-0">
                <a href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                    <img class="card-img rounded-0" src="{{ product.image.url }}" alt="Card image">
                    {% else %}
                    <img class="card-img rounded-0" src="{% static 'img/bg-product.png' %}" alt="Card image">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <a class="card-title text-nowrap bd-highlight" style="width: 5rem;" href="{{ product.get_absolute_url }}">{{ product }}</a>
                    <div class="d-flex justify-content-around">
                        {% if product.sale %}
                        <p class="card-previous-price">R$ {{ product.price }}</p>
                        <p class="card-sale">R$ {{ product.sale }}</p>
                        {% else %}
                        <p class="card-price">R$ {{ product.price }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
</div>
{% endblock %}