{% extends "base.html" %}


{% block container %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="http://via.placeholder.com/1280x480" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1280x480" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="http://via.placeholder.com/1280x480" alt="Third slide">
        </div>
    </div>
</div>
<div class="container content">
    <div class="card-columns distance-content">
        <div class="card border-0">
            <a class="card-link" href="">
                <img class="card-img rounded-0" src="http://via.placeholder.com/350x600" alt="Card image">
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h2 class="title-card">Camiseta Semana do Programador</h2>
                        <p class="price-card">R$ 39,90</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="card border-0">
            <a class="card-link" href="">
                <img class="card-img rounded-0" src="http://via.placeholder.com/350x600" alt="Card image">
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h2 class="title-card">Camiseta Programador</h2>
                        <p class="price-card">R$ 39,90</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="card border-0">
            <a class="card-link" href="">
                <img class="card-img rounded-0" src="http://via.placeholder.com/350x500" alt="Card image">
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h2 class="title-card">Caneca Front-end</h2>
                        <p class="price-card">R$ 35,00</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="card border-0">
            <a class="card-link" href="">
                <img class="card-img rounded-0" src="http://via.placeholder.com/350x600" alt="Card image">
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h2 class="title-card">Camiseta Function</h2>
                        <p class="price-card">R$ 39,90</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="card border-0">
            <a class="card-link" href="">
                <img class="card-img rounded-0" src="http://via.placeholder.com/350x600" alt="Card image">
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h2 class="title-card">Camiseta Python</h2>
                        <p class="price-card">R$ 39,90</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="card border-0">
            <a class="card-link" href="">
                <img class="card-img rounded-0" src="http://via.placeholder.com/350x600" alt="Card image">
                <div class="card-img-overlay d-flex align-items-end">
                    <div>
                        <h2 class="title-card">Camiseta JavaScript</h2>
                        <p class="price-card">R$ 39,90</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>  
{% endblock %}