{% extends "base.html" %}

{% block title %} {{ product }} | {{ block.super }} {% endblock %}

{% block container %}
<div class="container content">
    <div class="row">
        <div class="col-sm-6">
            <img class="card-img rounded-0" src="http://via.placeholder.com/350x350" alt="Card image">
        </div>
        <div class="col-sm-6">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Index</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item"><a href="#">Camisetas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Camiseta Programador</li>
                </ol>
            </div>
            <div> 
                <h1 class="title-product">{{ product }}</h1>
                <p class="price-product">R$ {{ product.price }}</p>
                <p class="description-product">{{ product.description }}</p> 
                <div class="row input-product">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success btn-block btn-buy">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
    
