{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{ product }} | {{ block.super }}{% endblock %}

{% block container %}
<div class="container div-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="gallery-item invisible-scrollbar">
                <a href="{{ product }}" data-toggle="tab" aria-expanded="true">
                    {% if product.image %}
                    <img class="card-img rounded-0 mb-2" src="{{ product.image.url }}" alt="Product image">
                    {% else %}
                    <img class="card-img rounded-0" src="{% static 'img/bg-product.png' %}" alt="Product image">
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="tab-content">
                <div class="tab-pane active" id="{{ product }}">
                    <div class="profile-image">
                        {% if product.image %}
                        <img class="card-img rounded-0" src="{{ product.image.url }}" alt="Product image">
                        {% else %}
                        <img class="card-img rounded-0" src="{% static 'img/bg-product.png' %}" alt="Product image">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicío</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'catalog:product_list' %}">Produtos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product }}</li>
                </ol>
            </div>
            <div> 
                <h1 class="product-title">{{ product }}</h1>
                {% if product.sale %}
                <p class="product-previous-price">De: R$ {{ product.price }}</p>
                <p class="product-price">Por: R$ {{ product.sale }}</p>
                {% else %}
                <p class="product-price">R$ {{ product.price }}</p>
                {% endif %}
                <p class="text-justify">{{ product.description }}</p>
                <form action="{% url 'checkout:create_cart_item' product.slug %}" method="post">
                    {% csrf_token %}
                    {% if product.size.all %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tamanho</label>
                            <select class="form-control mb-3" name="value_size">
                                {% for product in product.size.all %}
                                <option value="{{ product.name }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %} 
                    <button class="product-button" type="submit">Comprar</button>
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
    
