@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 24vh;
}

label {
    font-size: 0.8em;
}

.div-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.div-distance {
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.link-item li {
    padding-top: 2vh;
    list-style-type: none;
}

.link-item a,
.link-item p,
.icon a {
    color: #818181;
}

.link-item a:hover,
.icon a:hover {
    color: #373a3c;
    text-decoration: none;
}

.page-item {
    color: #373a3c;
}

.page-item:hover {
    color: #818181;
    text-decoration: none;
}

.span-item {
    font-weight: bold;
    color: #373a3c;
}

.title-h1 {
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    color: #373a3c;
}

.title-h3,
.title-h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: #373a3c;
}

.button {
    background-color: #373a3c;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px 32px;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color 0.4s;
}

.button:hover {
    background-color: #ffffff;
    color: #373a3c;
    border: 1px solid #373a3c;
    outline: none;
    text-decoration: none;
}

.button-icon {
    background: none;
    color: #373a3c;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.pagseguro-logo {
    width: 140px;
    height: 30px;
    background-size: 100%;
}

.pagseguro {
    width: 50px;
    height: 30px;
    background-size: 100%;
}

/* Icon */

.fa-bars,
.fa-shopping-basket {
    margin-right: 10px;
}

.fa-angle-down {
    margin-left: 10px;
}

/* Breadcrumb */

ol.breadcrumb {
    background: none;
    padding: 0%;
    font-size: 0.9em;
}

.breadcrumb-item a {
    font-weight: bold;
    color: #818181;
}

.breadcrumb-item a:hover {
    color: #373a3c;
    text-decoration: none;
}

/* Navbar */

.logo a {
    display: table;
    width: 180px;
    height: 60px;
    background-size: 100%;
    background: no-repeat url("../img/logo.svg");
}

.menu {
    padding-top: 5vh;
    padding-bottom: 5vh;
    transition: padding 0.3s ease;
}

.menu-item {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
}

.dropdown-menu a {
    font-size: 0.9em;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 10vw;
}

.dropdown-menu a:hover {
    background-color: #ffffff;
}

.box-shadow {
    padding: 10vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.affix {
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;      
    transition:padding 0.3s linear;  
}

/* Pagination */

.page ul li a {
    color: #373a3c;
}

.page ul li a:hover {
    color: #818181;
}

.page .page-item.active a {
    background: #373a3c;
    border-color: #818181;
}

/* Gallery product */

.gallery-item {
    overflow: auto;
    height: 68.5vh;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Card product */

.card-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #373a3c;
}

.card-title:hover {
    color: #818181;
    text-decoration: none;
}

.card-price {
    font-size: 1.2em;
    font-weight: 600; 
    color: #373a3c;
}

.card-previous-price {
    color: #818181;
    text-decoration: line-through;
    font-size: 1.2em;
}

.card-sale {
    font-size: 1.2em;
    font-weight: 600; 
    color: #373a3c;
}

.card-img-checkout {
    width: 100px;
    height: 100px;
}

/* Product */

.product-title {
    font-weight: 900;
    text-transform: uppercase;
}

.product-price {
    font-weight: bold;
    font-size: 1.7em;
}

.product-previous-price {
    color: #818181;
    text-decoration: line-through;
    font-size: 1.3em;
}

.product-button {
    background-color: #00ce00;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px 185px;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color 0.4s;
}

.product-button:hover {
    background-color: #ffffff;
    color: #00ce00;
    border: 1px solid #00ce00;
    outline: none;
    text-decoration: none;
}

/* Footer */

.footer {
    background-color: #ffffff;
    border-top: 1px solid #cececeab;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

@media screen and (max-width: 550px) {
    
    .logo a {
        width: 120px;
        height: 40px;
    }

    ol.breadcrumb {
        margin-top: 5%;
        font-size: 0.7em;
    }

    .gallery-item {
        display: none;
    }

    .product-button {
        padding: 12px 152px;
    }

    .footer {
        padding-bottom: 0vh;
    }
}
